aiodns==1.1.1
aiohttp==3.6.2
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.4.2
asttokens==2.0.5
async-timeout==3.0.1
attrs==20.2.0
backcall==0.2.0
black==21.12b0
bleach==4.1.0
ccxt==1.35.72
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
charset-normalizer==2.0.10
click==7.1.2
colorlover==0.3.0
cryptography==3.1.1
cufflinks==0.17.3
cycler==0.10.0
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.3
executing==0.8.2
Flask==1.1.2
future==0.18.2
ghp-import==2.1.0
gitdb==4.0.9
GitPython==3.1.27
htmlmin==0.1.12
idna==2.10
imageio==2.9.0
importlib-metadata==4.11.3
importlib-resources==5.4.0
install==1.3.4
ipykernel==6.7.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.5.3
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==2.11.2
joblib==0.16.0
jsmin==2.2.2
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
livereload==2.6.2
lunr==0.5.8
lxml==4.7.1
Markdown==3.3.7
MarkupSafe==1.1.1
matplotlib==3.3.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mergedeep==1.3.4
mistune==0.8.4
mkdocs==1.3.0
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-material==8.2.15
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.3.0
mplleaflet==0.0.5
multidict==4.7.6
multitasking==0.0.10
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.5
nltk==3.5
notebook==6.4.7
numpy==1.19.3
packaging==21.3
pandas==1.4.0
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pep562==1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
platformdirs==2.4.1
plotly==5.5.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pure-eval==0.2.2
pycares==3.1.1
pycparser==2.20
Pygments==2.12.0
pylint==2.6.0
pymdown-extensions==9.4
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.8.1
python-markdown-math==0.6
pytz==2021.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyyaml_env_tag==0.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.0
regex==2020.7.14
requests==2.27.1
scikit-image==0.17.2
scipy==1.5.3
Send2Trash==1.8.0
six==1.15.0
smmap==5.0.0
social==0.1.dev3
stack-data==0.1.4
statsmodels==0.13.1
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
tifffile==2020.10.1
toml==0.10.1
tomli==1.2.3
tornado==6.1
tqdm==4.48.2
traitlets==5.1.1
typing_extensions==4.0.1
urllib3==1.25.10
watchdog==2.1.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.2
wrapt==1.12.1
yarl==1.1.0
yfinance==0.1.69
zipp==3.7.0
